<div class="row form-group">
  <div class="col-lg-12">
    <table class="table table-condensed table-responsive table-striped">
      <thead>
      <tr>
        <th class="text-center">Id</th>
        <th class="text-center">First name</th>
        <th class="text-center">Last name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customers">
        <td class="text-center">{{customer.id}}</td>
        <td class="text-center">{{customer.firstName}}</td>
        <td class="text-center">{{customer.lastName}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
