<ul class="nav nav-tabs">

  <!--Data source-->
  <li role="presentation"
      routerLinkActive="active"
      routerLink="/advanced-demo/data-source">
    <a href="javascript:void(0)">Data source</a>
  </li>

  <!--Toggle options-->
  <li role="presentation"
      routerLinkActive="active"
      routerLink="/advanced-demo/toggle-option">
    <a href="javascript:void(0)">Toggle options</a>
  </li>

  <!--Bi-directional binding-->
  <li role="presentation"
      routerLinkActive="active"
      routerLink="/advanced-demo/bi-directional-binding">
    <a href="javascript:void(0)">Bi-directional binding</a>
  </li>

  <!--Event handling-->
  <li role="presentation"
      routerLinkActive="active"
      routerLink="/advanced-demo/event-handling">
    <a href="javascript:void(0)">Event handling</a>
  </li>

  <li role="presentation"
      routerLinkActive="active"
      routerLink="/advanced-demo/custom-item-template">
    <a href="javascript:void(0)">Custom item template</a>
  </li>
</ul>

<div class="box box-default">
  <div class="box-body">
    <router-outlet></router-outlet>
  </div>
</div>
