<fieldset>
  <legend>Local data filtering</legend>
  <div class="col-lg-6">
    <label>Multi selector</label>
    <ngx-multi-selector #offlineCustomersSelector="ngx-multi-selector"
                        [items]="customers"
                        [is-search-box-available]="true"
                        [(ngModel)]="localSelectedValues"
                        [display-property]="'firstName'"
                        [key]="'id'"
                        [separation-character]="' - '"
                        [placeholder-title-drop-down]="'Data will be filtered by search box.'">
    </ngx-multi-selector>
  </div>
  <div class="col-lg-6">
    <label>Selected items</label>
    <table class="table table-responsive table-bordered table-condensed">
      <thead>
      <tr>
        <th class="text-center">Select customer id</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let selectedValue of localSelectedValues">
        <td class="text-center">{{selectedValue}}</td>
        <td>
          <button class="btn btn-flat btn-danger"
                  (click)="deleteSelectedCustomerId(selectedValue)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</fieldset>

<fieldset>
  <legend>Api data filtering</legend>
  <div class="col-lg-6">
    <label>Muti selector (API)</label>
    <ngx-multi-selector [is-search-box-available]="true"
                        [(ngModel)]="selectedApiCustomers"
                        [display-property]="'firstName'"
                        [separation-character]="' - '"
                        [load-available-items-handler]="loadAvailableItemsAsync"
                        [placeholder-title-drop-down]="'Please type a name of item in drop-down list.'">
    </ngx-multi-selector>
  </div>

  <div class="col-lg-6">
    <div class="col-lg-6">
      <label>Selected items</label>
      <table class="table table-responsive table-bordered table-condensed">
        <thead>
        <tr>
          <th class="text-center">Id</th>
          <th class="text-center">First name</th>
          <th class="text-center">Last name</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let customer of apiChosenCustomers">
          <td class="text-center">{{customer.id}}</td>
          <td class="text-center">{{customer.firstName}}</td>
          <td class="text-center">{{customer.lastName}}</td>
          <td>
            <button class="btn btn-flat btn-danger"
                    (click)="deleteCustomer(customer)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</fieldset>


