<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>

      <!--Offline data source-->
      <li class="treeview"
          routerLinkActive="active">
        <a href="javascript:void(0)">
          <i class="fa fa-pie-chart"></i>
          <span>Offline data source</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li routerLink="/basic-initialization" routerLinkActive="active">
            <a href="javascript:void(0)">
              <i class="fa fa-circle-o"></i> Basic initialization
            </a>
          </li>
        </ul>
        <ul class="treeview-menu">
          <li routerLink="/advanced-initialization" routerLinkActive="active">
            <a href="javascript:void(0)">
              <i class="fa fa-circle-o"></i> Advanced initialization
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
