<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-md-3">
      <p class="lead">Functions list</p>
      <div class="list-group">
        <a href="#parameter-description"
           class="list-group-item">Parameters description</a>
        <a href="#events"
           class="list-group-item">Events</a>
        <a href="#sample"
           class="list-group-item">Sample</a>
      </div>
    </div>

    <div class="col-md-9">

      <h2 id="parameter-description">
        Parameters description
      </h2>
      <div class="panel panel-info">
        <div class="panel-body">
          <table class="table table-responsive table-condensed table-striped">
            <thead>
            <tr>
              <th class="text-center">
                <b>Parameter</b>
              </th>
              <th class="text-center">
                <b>Description</b>
              </th>
              <th class="text-center">
                <b>Default value</b>
              </th>
              <th class="text-center">
                <b>Data type</b>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let input of result.inputs">
              <td>
                <label class="label label-default">{{input.parameter}}</label></td>
              <td>{{input.description}}</td>
              <td>
                <label class="label label-info">{{input.default}}</label>
              </td>
              <td>
                <label class="label label-primary">{{input.type}}</label>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <h2 id="events">
        Events
      </h2>
      <div class="row">
        <div class="col-md-6"
             *ngFor="let item of result.outputs">
          <div class="panel panel-info">
            <div class="panel-heading">
              {{item.parameter}}
            </div>
            <div class="panel-body">
              <ul>
                <li>
                  <b>Description</b> {{item.description}}
                </li>
                <li>Arguments</li>
                <div class="panel-body">
                  <table class="table table-responsive table-condensed table-striped">
                    <thead>
                    <tr>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let argument of item.arguments">
                      <td>
                        <label class="label label-default">{{argument.name}}</label>
                      </td>
                      <td>{{argument.type}}</td>
                      <td>{{argument.description}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <h2 id="sample">
        Sample
      </h2>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="control-label">
            <b>Settings</b>
          </div>
          <ul>
            <li><label class="label label-danger">[items]</label>='customers'</li>
            <li><label class="label label-danger">[display-property]</label>="'ContactName'"</li>
            <li><label class="label label-danger">[is-search-box-available]</label>="true"</li>
            <li><label class="label label-danger">[is-clear-button-available]</label>="true"</li>
            <li><label class="label label-danger">[placeholder-search-drop-down]</label>="'Please select an item'"</li>
            <li><label class="label label-danger">[separation-character]</label>="' - '"</li>
            <li><label class="label label-danger">[key]</label>="'Id'"</li>
            <li><label class="label label-danger">(search-items)</label>="searchItem($event)"</li>
            <li><label class="label label-danger">(update-items)</label>="updateCustomers($event)"</li>
          </ul>
        </div>
        <hr/>

        <div class="panel-body">
          <ng2-multi-selector #multiselector="ng2-multi-selector"
                              [items]="customers"
                              [display-property]="'ContactName'"
                              [is-search-box-available]="true"
                              [is-clear-button-available]="true"
                              [placeholder-search-drop-down]="'Please select an item'"
                              [separation-character]="' - '"
                              [key]="'Id'"
                              (search-items)="searchItem($event)"
                              (update-items)="updateCustomers($event)">
          </ng2-multi-selector>

          <ul>
            <li *ngFor="let item of multiselector.getChosenItems()">
              {{item.Id}} - {{item.ContactName}} - {{item.CompanyName}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>





