<div class="panel panel-default">
  <div class="panel-body">

    <ul class="nav nav-tabs">
      <li role="presentation"
          routerLinkActive="active"
          routerLink="/advanced-initialization/data-source">
        <a href="javascript:void(0)">Data source</a>
      </li>
      <li role="presentation"
          routerLinkActive="active"
          routerLink="/advanced-initialization/toggle-option">
        <a href="javascript:void(0)">Toggle options</a>
      </li>
      <li role="presentation"
          routerLinkActive="active"
          routerLink="/advanced-initialization/bi-directional-binding">
        <a href="javascript:void(0)">Bi-directional binding</a>
      </li>
      <li role="presentation"
          routerLinkActive="active"
          routerLink="/advanced-initialization/event-handling">
        <a href="javascript:void(0)">Event handling</a>
      </li>
    </ul>

    <div class="box box-default">
      <div class="box-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
