/*Multi selector drop-down menu.*/
.ng2-multi-selector .dropdown-menu {
  width: 100%
}

/*Multi selector title box.*/
input .ng2-multi-selector-title-box {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ng2-multi-selector-title-box{
  background-color: white !important;
}

.ng2-multi-selector-title-box:disabled{
  background-color: #eee !important;
}
