<div class="input-group dropdown ng2-multi-selector">
  <div class="dropdown-toggle"
       [attr.data-toggle]="disabled ? '': 'dropdown'"
       aria-haspopup="true"
       aria-expanded="false"
       [attr.disabled]="disabled">
    <input class="form-control ng2-multi-selector-title-box"
           readonly="readonly"
           value="{{getChosenItemsTitle()}}"
           placeholder="{{placeholderTitleDropDown}}"
           [attr.disabled]="disabled">
  </div>
  <span class="input-group-addon dropdown-toggle"
        [attr.data-toggle]="disabled ? '': 'dropdown'"
        [attr.disabled]="disabled"
        aria-haspopup="true"
        aria-expanded="false">
    <span class="caret"></span>
  </span>
  <span class="input-group-addon"
        *ngIf="isClearButtonAvailable"
        [attr.disabled]="disabled"
        (click)="clearChosenItems()">
    <span class="glyphicon glyphicon-remove"></span>
  </span>
  <ul class="dropdown-menu"
      onclick="event.stopPropagation();">
    <li>
      <div class="col-lg-12">
        <div class="form-group"
             *ngIf="isSearchBoxAvailable">
          <div class="input-group">
            <input #txtSearch
                   class="form-control"
                   [(ngModel)]="keyword"
                   placeholder="{{placeholderSearchDropDown}}">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
              </span>
          </div>
        </div>
      </div>
    </li>
    <li *ngFor="let item of items; let i = index"
        [class.active]="getItemChosen(item)"
        (click)="clickSelectItem(item)">
      <a href="javascript:void(0);"
         *ngIf="i < limitItemAmount">
        <span class="glyphicon glyphicon-check"
              *ngIf="getItemChosen(item)"></span> {{item[displayProperty]}}
      </a>
    </li>
  </ul>
</div>



