<div class="col-lg-4">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation"
        routerLinkActive="active"
        routerLink="/advanced-demo/bi-directional-binding/remove-bound-items">
      <a href="javascript:void(0)">Remove bound items</a>
    </li>
    <li role="presentation"
        routerLinkActive="active"
        routerLink="/advanced-demo/bi-directional-binding/random-items-selection">
      <a href="javascript:void(0)">Random items selection</a>
    </li>
    <li role="presentation"
        routerLinkActive="active"
        routerLink="/advanced-demo/bi-directional-binding/inherit-items-selection">
      <a href="javascript:void(0)">Inherit selections</a>
    </li>
  </ul>
</div>

<!--Content section-->
<div class="col-lg-8">
  <router-outlet></router-outlet>
</div>

<div class="col-lg-12">

  <!--Inherit selection-->
  <div class="row form-group">
    <div class="col-lg-12">

    </div>
  </div>
</div>
