<!--Remove bound items-->
<div class="box box-primary">
  <div class="box-body">
    <ngx-multi-selector #ngxMultiSelectorComponent="ngx-multi-selector"
                        [items]="customers"
                        [(ngModel)]="selectedCustomers"
                        [display-property]="'firstName'"
                        [key]="'id'"
                        [separation-character]="' - '">
    </ngx-multi-selector>
  </div>
  <div class="box-body"
       *ngIf="selectedCustomers && selectedCustomers.length > 0">
    <table class="table table-responsive table-condensed table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th></th>
      </tr>
      </thead>
      <tbody [ngSwitch]="hasCustomersListLoaded">

      <!--Customers have been loaded.-->
      <ng-container *ngSwitchCase="true">
        <tr *ngFor="let customer of selectedCustomers">
          <td>{{customer.id}}</td>
          <td>{{customer.firstName}}</td>
          <td>{{customer.lastName}}</td>
          <td>
            <button class="btn btn-danger btn-flat"
                    (click)="deleteCustomer(customer)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
        </tr>
      </ng-container>

      <ng-container *ngSwitchDefault>
        <td colspan="3">
          <b class="text-warning">Customers are being loaded...</b>
        </td>
      </ng-container>

      </tbody>
    </table>
  </div>
</div>
